<a href="/" class="link-back">Back</a>

<h1 class="heading-xlarge">Link a user</h1>
<p>Use this form to link a known user id to a services (through an organisation). You can get your user id from the
    portal dev launcher (if enabled)</p>

<div class="grid-row">
    <div class="col-12">
        <form method="post" id="form-edit-service">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <fieldset>
                <div class="form-group">
                    <label class="form-label-bold" for="name">User Id</label>
                    <div>
                        <input class="form-control" id="user_id" name="user_id" type="text" required aria-required="true"
                               value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label-bold" for="description">Organisation</label>
                    <div>
                        <select class="form-control" name="organisation_id" id="organisation_id">
                            <% for (let i = 0; i < locals.organisations.length; i++) { %>
                            <option value="<%= locals.organisations[i].id%>"><%= locals.organisations[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label-bold" for="description">Service</label>
                    <div>
                        <select class="form-control" name="service_id" id="service_id">
                            <% for (let i = 0; i < locals.services.length; i++) { %>
                            <option value="<%= locals.services[i].id%>"><%= locals.services[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label-bold" for="description">Role</label>
                    <div>
                        <select class="form-control" name="role_id" id="role_id">
                            <option value="0">End User</option>
                            <option value="10000">Approver</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label-bold" for="description">Status</label>
                    <div>
                        <select class="form-control" name="status" id="status">
                            <option value="1">Approved</option>
                            <option value="0">Pending Approval</option>

                        </select>
                    </div>
                </div>

                <div class="form-submit">
                    <button type="submit" class="button">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>